body {
    justify-content: center;
    width: 100%;
    align-items: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #323232;
    margin: 0;
    color: white;
}

.tictactoe {
    border-collapse: collapse;
    margin: auto;
}

#content{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell {
    width: 120px;
    height: 120px;
    text-align: center;
    font-size: 24px;
    border: 5px solid white;
    border-radius: 10px;
}

.cell:hover{
    background-color: rgba(255, 255, 255, 0.056);
    cursor: pointer;
}

/* Entfernt äußere Ränder */
.tictactoe tr:first-child .cell {
    border-top: none;
}

.tictactoe tr:last-child .cell {
    border-bottom: none;
}

.tictactoe tr .cell:first-child {
    border-left: none;
}

.tictactoe tr .cell:last-child {
    border-right: none;
}

.winning-line {
    position: absolute;
    height: 5px;
    background-color: #ffffff;
}

button{
    border: 0;
    border-radius: 25px;
    color: white;
    background-color: #323232;
    width: 250px;
    box-shadow: 2px 2px 10px 2px #202020;
    height: 50px;
}

button:hover{
    cursor: pointer;
    box-shadow: 2px 2px 15px 2px #191919;
    transition: ease-in 0.2s;
}